@import "tailwindcss";
@plugin "@tailwindcss/typography";

.embla__dots {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}
.embla__dots:hover {
  opacity: 1;
}

.embla__dot {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

.embla__dot--selected {
  opacity: 1;
}
